{% extends 'base.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/about.css">
</head>

<body>
    <div class="row ml-2">
        <div class="col">
            <h3>About</h3>
            <hr>
        </div>
        <div class="row text-justify ml-1">
            <div class="col-md-6">
                <p>Hello guys, My name is Sanket Dave and this site is created by me and I'm a Python Developer.
                </p>
                <p>In september month PUBG was banned by GOVT. Of India. Before that I played this game very well. We
                    can say thar I'm pro in that game. I would like to share the link of my channel</p>
                <p>Let me tell you I also like to play Mini Militia. So guys if you are visiting this website then make
                    sure that you will not go without subscribing this channel</p>
                <p id="TY">THANK YOU</p>
            </div>
            <div class="col-md-6 ">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/1DB1LnQ02DI"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>


</body>

</html>

{% endblock %}