input{
    width: 50px;
}
.form-control {
    display: block;
    width: 450px;
    height: calc(1.5em + .75rem + 2px);
    padding: 2px 10px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    color: black;
    background: linear-gradient(to right, white);
    background-clip: unset;
    border: 1px solid #04498f;
    border-width: thin;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

element.style {
    z-index: 3;
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0px;
    border-width: 0px;
    margin-top: 10px;
    left: 0px;
    top: 0px;
    touch-action: pan-x pan-y;
}

.btn1{

    position: absolute;
    left: 32%;
    top: 96%
}